<p class="fw-bold text-center text-secondary m-0" id="titulo">valor de la linea $200 /simple $100  / premio $
    
</p>
<button class="btn btn-info m-1" data-bs-toggle="modal" data-bs-target="#modalMain"><i class="fa-solid fa-pencil"></i></button>
  <div class="modal fade" id="modalMain" tabindex="-1" aria-labelledby="modalMainLabel" aria-hidden="true">
    <div class="modal-dialog">
      <div class="modal-content">
        <div class="modal-header">
          <h1 class="modal-title fs-5" id="modalMainLabel">Cambiar Titulo</h1>
          <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
        </div>
        <div class="modal-body">
            <label for="#nuevoTitulo" class="form-label">Nuevo Titulo</label>
          <input type="text" class="form-control" placeholder="" id="nuevoTitulo">
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cerrar</button>
          <button type="button" class="btn btn-primary" onclick="cambiarTitulo()" >Cambiar</button>
        </div>
      </div>
    </div>
  </div>